

/* nav - all links style */
nav,
nav ol {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

nav li {
  display: block;
  position: fixed;
  z-index: 3;
}

nav a {
  display: block;
  font-family: "andale mono";
  font-size: 21pt;
  text-decoration: none;
  color: black;
}

/* individual link styles */
li {
    width: auto;
    cursor: pointer;
    /*padding: 10px;*/
   /* border:1px solid #fff;*/
  margin-right: 20px;
}

li:hover {
    -webkit-border-radius: auto;
    -moz-border-radius: auto;
    border-radius: auto;
 -webkit-box-shadow: 0px 0px 30px 0px rgb(93, 188, 210);
-moz-box-shadow:    0px 0px 30px 0px rgb(93, 188, 210);
box-shadow:         0px 0px 30px 0px rgb(93, 188, 210);
}
li:last-of-type:hover {
    -webkit-border-radius: auto;
    -moz-border-radius: auto;
    border-radius: auto;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(93, 188, 210);
-moz-box-shadow:    0px 0px 30px 0px rgba(93, 188, 210);
box-shadow:         0px 0px 30px 0px rgba(93, 188, 210);
}

.home {
  top: 30px;
  right: 40px;

}

.about {
  top: 35px;
  left: 50px;
}

.youtube {
  left: 50px;
  bottom: 35px;
}

.insta {
  right: 50px;
  bottom: 30px;
}
