.body{
margin-bottom: 100px;
}

/*body border*/
#top, #bottom, #left, #right {
	background: #82C0E9;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/*end body border*/

.content {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
}

.title {
  z-index: 2;
  color: #82C0E9;
  font-weight: normal;
  font-family: sans-serif;
  margin: auto;
  top: 540px;
  width: 820px;
  font-family: "andale mono";
  font-size: 5pt;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.content.index ul {
  overflow: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header {
  display: block;
  margin-top: 25px;
  padding-bottom: 50px;
}

.content.index p {
  /*position: relative;*/
  z-index: 2;
  color: #6EFCBB;
  font-weight: normal;
  font-size: 18pt;
  font-family: sans-serif;
  line-height: 25px;
  position: absolute;
  left: 0; right:0;
  margin: auto;
  top: 325px;
  width: 820px;
  text-align: center
}

.content.about p {
  /*position: relative;*/
  z-index: 2;
  color: #82C0E9;
  font-weight: normal;
  font-size: 18pt;
  font-family: sans-serif;
  line-height: 25px;
  position: absolute;
  left: 704px; right: 0;
  margin: auto;
  top: 403px;
  width: 820px;
  text-align: center
  display: block;
  font-family: "andale mono";
  font-size: 10pt;
  line-height: 18pt;
  font-weight: bold;
  text-decoration: none;
  color: #82C0E9;
}

.content.about h1 {
  /*position: relative;*/
  z-index: 2;
  color: #82C0E9;
  font-weight: normal;
  font-size: 18pt;
  font-family: sans-serif;
  line-height: 25px;
  position: absolute;
  left: 150px; right: 0;
  margin: auto;
  top: 38px;
  width: 820px;
  text-align: center
  display: block;
  font-family: "andale mono";
  font-size: 21pt;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.content.about h2 {
  /*position: relative;*/
  z-index: 2;
  color: #82C0E9;
  font-weight: normal;
  font-size: 10pt;
  font-family: sans-serif;
  line-height: 25px;
  position: absolute;
  left: 160px; right: 0;
  margin: auto;
  top: 545px;
  width: 820px;
  text-align: center
  display: block;
  font-family: "andale mono";
  font-size: 10pt;
  font-weight: bolder:
  text-decoration: none;
  color: black;
}

.content.team{
  position:absolute;
  display: block;
  top: 100px;
}
/*
footer {
width: 100%;
float: left;
margin-bottom: 40px;
}

address {
font-size : 16px;
text-align : center;
color: black;
padding-top: 100px;
font-size:10px;
font-family: "andale mono";
}*/

/*.header {
  max-width: 660px;
  position: absolute;
  display: block;
}*/

img.logo {
  left: 150px;
  top: 0px;
  width: 500px;
  overflow-y: hidden;
  z-index: -1;
  animation: hueRotate 5s linear infinite;
}

img.logo {
  display: block;
  width: 125px;
  height: auto;
}

/*iframe.mainvid {
  z-index: 1;
  width: 800px;
  height: 400px;
  position: relative;
  left: 0; right:0;
  margin: auto;
  top: 300px;*/

}

img.teamphoto {
  z-index: 1;
  width: 800px;
  /*position: absolute;
  position: absolute;*/
  left: 0; right:0;
  margin: auto;
  top: 425px;
}
#videos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  /*position: absolute;
  position: absolute;*/
  left: 0; right:0;
  margin: auto;
  top: 700px;
}

#videos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 150% 0; }
}

@keyframes colorShift {
  0% { background-color: #FF8099; }
  50% { background-color: #5DBCD2; }
  100% { background-color: #FF8099; }
}

@keyframes hueRotate {
  0% { filter: hue-rotate(0deg);
  ; }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(359deg); }
}

/*.instagram{
  position:relative;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 600px;
  z-index: 2;
}*/

#rudr_instafeed{

  list-style:none
}
#rudr_instafeed li{
  float:left;
  width:200px;
  height:200px;
  margin:10px;
}

#rudr_instafeed li img{
  display: block;
  max-width:100%;
  max-height:100%;
}
